# Environment
.env
.env.*

# Python
__pycache__/
*.pyc

# Virtual env
venv/
env/

# Logs
*.log

# OS
.DS_Store


# 🔥 Gmail / OAuth credentials (deep path)
backend/config/credentials.json
backend/config/token.json

# Ignore data artifacts
backend/data/data_pretty.json
backend/data/databackup.json
backend/data/questions.txt

# Ignore DB snapshots
backend/data/db_snapshot/

node_modules/
